<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<style>
    div {
        padding: 10px;
    }
</style>

</head>
<body>

<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <a href="">
        <label class="btn btn-secondary">
            Gig Type
        </label>
    </a>
    <a href="" id="degreecollection">
        <label class="btn btn-primary">
            Degree Collection
        </label>
    </a>
    <a href="" id="tuitioncollection">
        <label class="btn btn-primary">
            Tuition Collection
        </label>
    </a>
</div>

<br>

<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <a href="">
        <label class="btn btn-secondary">
            Year
        </label>
    </a>
    <a href="" id="year2014">
        <label class="btn btn-primary">
            2014
        </label>
    </a>
    <a href="" id="year2015">
        <label class="btn btn-primary">
            2015
        </label>
    </a>
    <a href="" id="year2016">
        <label class="btn btn-primary">
            2016
        </label>
    </a>
    <a href="" id="year2017">
        <label class="btn btn-primary">
            2017
        </label>
    </a>
    <a href="" id="year2018">
        <label class="btn btn-primary">
            2018
        </label>
    </a>
    <a href="" id="year2019">
        <label class="btn btn-primary">
            2019
        </label>
    </a>
    <a href="" id="year2020">
        <label class="btn btn-primary">
            2020
        </label>
    </a>
</div>

<br>

<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <a href="">
        <label class="btn btn-secondary">
            Quarter
        </label>
    </a>
    <a href="" id="q1">
        <label class="btn btn-primary">
            Q1
        </label>
    </a>
    <a href="" id="q2">
        <label class="btn btn-primary">
            Q2
        </label>
    </a>
    <a href="" id="q3">
        <label class="btn btn-primary">
            Q3
        </label>
    </a>
    <a href="" id="q4">
        <label class="btn btn-primary">
            Q4
        </label>
    </a>
</div>

<br>

<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <a href="">
        <label class="btn btn-secondary">
            Month
        </label>
    </a>
    <a href="" id="month1">
        <label class="btn btn-primary">
            1
        </label>
    </a>
    <a href="" id="month2">
        <label class="btn btn-primary">
            2
        </label>
    </a>
    <a href="" id="month3">
        <label class="btn btn-primary">
            3
        </label>
    </a>
    <a href="" id="month4">
        <label class="btn btn-primary">
            4
        </label>
    </a>
    <a href="" id="month5">
        <label class="btn btn-primary">
            5
        </label>
    </a>
    <a href="" id="month6">
        <label class="btn btn-primary">
            6
        </label>
    </a>
    <a href="" id="month7">
        <label class="btn btn-primary">
            7
        </label>
    </a>
    <a href="" id="month8">
        <label class="btn btn-primary">
            8
        </label>
    </a>
    <a href="" id="month9">
        <label class="btn btn-primary">
            9
        </label>
    </a>
    <a href="" id="month10">
        <label class="btn btn-primary">
            10
        </label>
    </a>
    <a href="" id="month11">
        <label class="btn btn-primary">
            11
        </label>
    </a>
    <a href="" id="month12">
        <label class="btn btn-primary">
            12
        </label>
    </a>
</div>
    {{{ body }}}
</body>
</html>